<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oceandeep">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ocean_deep_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".C11_Child"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".C10_Child"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".C9_Child"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".C8_Adult"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".C7_Adult"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".C6_Adult"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".C5_Child"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".C4_Child"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".C3_Adult"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".C2_Adult"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".C1_Adult"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>